* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


.layout-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: 2fr 7fr;
}

header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
}

.profile-section {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

nav {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav-links ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    gap: 50px;
    grid-template-rows: 50px 1fr 1fr 3fr;
    background-color: rgb(25, 145, 205);
    padding: 30px;
    color: white;
}

.main-dashboard-links {
    display: grid;
    gap: 20px;
}

.secondary-dashboard-links {
    display: grid;
    gap: 20px;
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: rgb(226, 232, 240);
    font-size: 16px;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 30px 0 30px 30px
}

.project-cards-section {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background-color: white;
    padding: 30px;
}

.announcements-section {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.announcement-cards {
    background-color: white;
}

.trending-section {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.trending-cards {
    background-color: white;
}