* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}




.layout-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: 2fr 7fr;
}

header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    padding: 30px 80px;
    gap: 50px;
}

.profile-section {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.left-profile-section {
    display: grid;
    grid-column: 1 / 2;
}

.right-profile-section {
    display: grid;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
}

input {
    width: 80%;
    background-color: rgb(226, 232, 240);
    border: none;
    border-radius: 20px;
}

nav {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav-links ul {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-self: end;
}

.nav-links a {
    background-color: rgb(25, 145, 205);
    color: white;
    padding: 8px 24px;
    border-radius: 20px;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    gap: 50px;
    grid-template-rows: 50px 1fr 1fr 3fr;
    background-color: rgb(25, 145, 205);
    padding: 30px;
    color: white;
}

.dashboard {
    display: grid;
    grid-template-columns: 50px 50px;
    align-items: center;
    gap: 15px;
}

.dashboard img {
    width: 50px;
    filter: invert(100%) sepia(11%) saturate(180%) hue-rotate(149deg) brightness(119%) contrast(100%);
}

.main-dashboard-links {
    display: grid;
    gap: 20px;
}

.secondary-dashboard-links {
    display: grid;
    gap: 20px;
}

.main-dashboard-links img, .secondary-dashboard-links img {
    width: 30px;
    filter: invert(100%) sepia(11%) saturate(180%) hue-rotate(149deg) brightness(119%) contrast(100%);
}

.dashboard-link {
    display: grid;
    grid-template-columns: 50px 50px;
    align-items: center;
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: rgb(226, 232, 240);
    font-size: 16px;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 30px 30px 30px 30px
}

.project-cards-section {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

.card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.announcements-section {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.announcement-cards {
    background-color: white;
    padding: 30px;
    font-size: 12px;
    margin-top: 20px;
}

.trending-section {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.trending-cards {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    background-color: white;
    padding: 30px;
    margin-top: 20px;
}