* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.layout-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: 2fr 8fr;
}

header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    padding: 10px 50px;
    gap: 20px;
    box-shadow: 5px 5px 10px rgb(207, 209, 217);
}

.profile-section {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.left-profile-section {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    grid-column: 1 / 2;
}

.left-profile-section img {
    width: 30px;
}

.right-profile-section {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 50px 75px 1fr;
    align-items: center;
    justify-self: end;
    font-weight: bold;
}

.right-profile-section img {
    width: 30px;
}

.right-profile-section .small-profile-icon {
    width: 60px;
}

input {
    width: 80%;
    background-color: rgb(226, 232, 240);
    border: none;
    border-radius: 20px;
    height: 35px;
}

nav {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.greeting-section {
    display: grid;
    grid-template-columns: 100px 400px;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    
}

.greeting {
    font-size: 16px;
}

.greeting .username {
    font-size: 28px;
}

.greeting-section img {
    width: 100px;
}

.nav-links ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
}

.nav-links a {
    background-color: rgb(25, 145, 205);
    color: white;
    padding: 10px 32px;
    border-radius: 20px;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    gap: 50px;
    grid-template-rows: 50px 1fr 1fr 3fr;
    background-color: rgb(25, 145, 205);
    padding: 30px;
    color: white;
}

.dashboard {
    display: grid;
    grid-template-columns: 50px 50px;
    align-items: center;
    gap: 15px;
}

.dashboard img {
    width: 50px;
    filter: invert(100%) sepia(11%) saturate(180%) hue-rotate(149deg) brightness(119%) contrast(100%);
}

.main-dashboard-links {
    display: grid;
    gap: 20px;
}

.secondary-dashboard-links {
    display: grid;
    gap: 20px;
}

.main-dashboard-links img, .secondary-dashboard-links img {
    width: 30px;
    filter: invert(100%) sepia(11%) saturate(180%) hue-rotate(149deg) brightness(119%) contrast(100%);
}

.dashboard-link {
    display: grid;
    grid-template-columns: 50px 50px;
    align-items: center;
}

.project-cards-section h1, .announcements-section h2, .trending-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: rgb(226, 232, 240);
    font-size: 16px;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 30px 30px 30px 30px
}

.project-cards-section {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}


.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    min-height: 770px;
    
}

.project-cards img{
    width: 30px;
}

.project-cards .icons {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    justify-content: end;
    align-items: end;
}

.card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border-left: 12px solid rgb(240, 180, 41);
    box-shadow: 5px 5px 10px rgb(207, 209, 217);
}

.card p {
    color: gray;
}

.announcements-section {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}


.announcement-cards {
    background-color: white;
    padding: 0 30px 0 30px;
    font-size: 12px;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgb(207, 209, 217);
}

.announcement-cards li {
    border-bottom: 1px solid lightgray;
    padding-top: 30px;
    padding-bottom: 20px;
}

.announcement-cards li:last-of-type {
    border: none;
}

.announcement-cards h4 {
    font-size: 16px;
    padding-bottom: 8px;
}

.announcement-cards p {
    color: gray;
}

.trending-section {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.trending-cards {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    background-color: white;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgb(207, 209, 217);
}

.individual-profile {
    display: grid;
    align-items: center;
    column-gap: 20px;
    grid-template-columns: 50px 150px;
}

.trending-cards img {
    width: 50px;
}