* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.layout-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: 2fr 7fr;
}

header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: white;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    gap: 50px;
    grid-template-rows: 50px 1fr 1fr 3fr;
    background-color: rgb(25, 145, 205);
    padding: 30px;
    color: white;
}

.main-dashboard-links {
    display: grid;
    gap: 20px;
}

.secondary-dashboard-links {
    display: grid;
    gap: 20px;
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: rgb(226, 232, 240);
    font-size: 16px;
}