* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.layout-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 2fr 7fr;
}

header {
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: rgb(25, 145, 205);
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: rgb(226, 232, 240);
    font-size: 16px;
}